.levels {

  height: 100%;
  padding: 60px 0;

  .swiper-container {
    height: 100%;
  }

  &__items {
    padding: 0 60px;
  }

  &__item {
    display: block;
    border: none;
    background: transparent;
    width: 210px;
    padding: 20px 0;
    transition: width 0.2s ease, padding 0.2s ease;

    &.swiper-slide-active {
      padding: 0;
      width: 250px;
    }
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    border-radius: 9px;
    background-color: #222;
    color: #fff;
    text-align: center;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

}