.apps-route {
  padding: 16px 32px;

  &__items {
    display: flex;
    flex-wrap: wrap;
    margin-right: -12px;
    margin-bottom: -12px;
  }

  &__item {
    width: 50%;
    padding: 0 12px 12px 0;
  }
}
