.license-overlay {
  background-color: $colorDarkGrey;
  color: white;
  border-radius: 12px 12px 0 0;
  text-align: center;
  display: flex;
  flex-direction: column;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__footer {
    flex: 0 0 auto;
    font-size: 14px;
    font-weight: 600;
    color: rgba($colorWhite, 0.5);

    > * {
      margin: 0 4px;
    }
  }

  &__title {
    margin-bottom: 12px;
  }
}
