.button {

  display: inline-flex;
  padding: 6px;
  color: rgba($colorWhite, 0.5);
  font: inherit;
  font-size: 14px;
  font-weight: 600;
  line-height: 1;
  border-radius: 6px;
  background-color: rgba($colorWhite, 0.08);
  transition: color 0.2s $ease, background-color 0.2s $ease;
  cursor: pointer;
  -webkit-app-region: no-drag;

  &:hover {
    color: rgba($colorWhite, 1);
    background-color: rgba($colorWhite, 0.12);
  }

  &.is-yellow {
    background-color: $colorYellow;
    color: $colorBlack;

    &:hover {
      background-color: rgba($colorYellow, 0.9);
    }
  }

  &__icon + &__content {
    margin-left: 2px;
  }

}
