.options-overlay {
  background-color: $colorDarkGrey;
  color: white;
  border-radius: 12px 12px 0 0;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 24px;
  }

  &__content {
    font-size: 14px;
    font-weight: 500;
  }

  &__section {
    display: flex;
    margin-bottom: 24px;

    > div:first-child {
      flex: 0 0 auto;
      width: 120px;
      color: rgba($colorWhite, 0.5);
      font-weight: 600;
    }

    > div:last-child {
      flex: 1 1 auto;
    }
  }

  &__label {
    display: flex;
    align-items: center;

    > * {
      margin-right: 6px;
    }
  }

  &__restart {
    color: $colorRed;
    font-weight: 600;
  }
}
