.shortcuts-route {

  &__set {
    margin-bottom: 12px;
  }

  &__title {
    position: sticky;
    top: 0;
    background-color: $colorBlack;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 0.5px solid rgba($colorWhite, 0.1);
    padding: 4px 0 4px 16px;
  }

  &__shortcut {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 6px 0;
    padding: 0 0 0 16px;
    font-size: 14px;
    color: rgba($colorWhite, 0.5);
  }

  &__shortcut-keys {
    display: flex;
    white-space: nowrap;
  }

  &__shortcut-key {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 18px;
    padding: 0 3px;
    height: 18px;
    font-size: 12px;
    font-weight: 700;
    color: $colorWhite;
    line-height: 1;
    border-radius: 3px;
    background-color: rgba($colorWhite, 0.1);
    margin-left: 4px;
  }

}
