*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba($colorWhite, 0.08);

  &:hover {
    background-color: rgba($colorWhite, 0.08);
  }
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background-color: black;
  color: $colorWhite;
  line-height: 1.4;
  font-feature-settings: 'cv05' 1;
}

h1 {
  font-size: 34px;
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
input,
textarea {
  background-color: transparent;
  border: none;
  font: inherit;
  color: inherit;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route {
  width: 100%;
  border-radius: 4px;
  position: absolute;
  transition:
    border-radius 0.6s $easeInOutQuint,
    opacity 0.6s $easeInOutQuint,
    transform 0.6s $easeInOutQuint,
  ;
}
