*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: none;
  user-select: none;
  -webkit-user-drag: none;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}

::-webkit-scrollbar-track {
  border: 4px solid transparent;
  background-clip: padding-box;
  border-radius: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  border: 4px solid rgba(0, 0, 0, 0);
  background-clip: padding-box;
  border-radius: 8px;
  background-color: rgba($colorWhite, 0.08);

  &:hover {
    background-color: rgba($colorWhite, 0.1);
  }
}

::-webkit-scrollbar-button {
  display: none;
  width: 0;
  height: 0;
}

::-webkit-scrollbar-corner {
  background-color: transparent;
}

body {
  font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  -webkit-font-smoothing: antialiased;
  overflow: hidden;
  background: black;
  color: $colorWhite;
  line-height: 1.4;
}

h1 {
  margin-bottom: 1rem;
}

p {
  margin: 1rem 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.route {
  width: 100%;
  border-radius: 4px;
  position: absolute;
  will-change: transform;
  transition:
    border-radius 0.7s $easeInOutQuint,
    opacity 0.7s $easeInOutQuint,
    transform 0.7s $easeInOutQuint,
  ;
}

.slide-left-enter,
.slide-right-leave-active {
  transform: translate(100%, 0);
}

.slide-right-enter,
.slide-left-leave-active {
  transform: scale(0.8);
  opacity: 0.5;
  border-radius: 24px;
}

.slide-right-enter-active {
  z-index: -1;
}

.pop-up-enter-active {
  animation: pop-up-enter 0.3s;
}
.pop-up-leave-active {
  animation: pop-up-leave 0.2s;
}

@keyframes pop-up-enter {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  40% {
    transform: scale(1.15);
    opacity: 1;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes pop-up-leave {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.8);
    opacity: 0;
  }
}

.left-to-right-enter-active,
.left-to-right-leave-active {
  transition: transform 0.2s $easeInOutQuad, opacity 0.2s $easeInOutQuad;
}

.left-to-right-enter {
  opacity: 0;
  transform: translateX(-8px);
}

.left-to-right-leave-to {
  opacity: 0;
  transform: translateX(8px);
}

.right-to-left-enter-active,
.right-to-left-leave-active {
  transition: transform 0.2s $easeInOutQuad, opacity 0.2s $easeInOutQuad;
}

.right-to-left-enter {
  opacity: 0;
  transform: translateX(8px);
}

.right-to-left-leave-to {
  opacity: 0;
  transform: translateX(-8px);
}
