.license-input {

  text-align: center;

  &__input {
    width: 100%;
    padding: 8px;
    margin-bottom: 16px;
    background-color: transparent;
    color: $colorYellow;
    font-family: 'Fira Code', monospace;
    font-weight: 500;
    font-size: 21px;
    text-align: inherit;
    transition: color 0.5s $ease;

    &.is-success {
      color: $colorGreen;
    }

    &.is-error {
      color: $colorRed;
      animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
    }

    &:disabled {
      color: rgba($colorWhite, 0.5);
    }

    &::placeholder {
      color: rgba($colorWhite, 0.2);
    }
  }

  &__error-wrapper {
    position: absolute;
    left: 0;
    right: 0;
  }

  &__error {
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    color: $colorRed;
  }

  &__retry {
    margin-left: 4px;
    padding: 4px 6px;
    border-radius: 6px;
    background-color: rgba($colorRed, 0.2);
  }

}
