.level {
  display: block;
  border: none;
  background: transparent;
  width: 210px;
  padding: 20px 0;
  animation: start 1.1s 1 $easeInOutQuad;
  transition: width 0.2s ease, padding 0.2s ease;

  &.swiper-slide-active {
    padding: 0;
    width: 250px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    border-radius: 9px;
    background-color: black;
    color: white;
    text-align: center;
  }
  
  &__title {
    font-size: 24px;
    font-weight: 700;
  }
}