@keyframes start {
  from {
    transform: translateX(100px);
  }

  to {
    transform: translateX(0);
  }
}

.level {
  display: block;
  width: 210px;
  padding: 20px 0;
  animation: start 1.1s 1 $easeInOutQuad;
  transition: width 0.2s ease, padding 0.2s ease;
  cursor: pointer;

  &.swiper-slide-active {
    padding: 0;
    width: 250px;
  }

  &__card {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 16px;
    border-radius: 16px;
    background-color: $colorBlack;
    color: $colorWhite;
    text-align: center;
  }

  &__content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__footer {
    width: 100%;
    flex: 0 0 auto;
  }

  &__image {
    max-width: 80px;
    margin-bottom: 16px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
  }

  &__sub-title {
    font-size: 14px;
    font-weight: 600;
  }

  &__button {
    width: 100%;
    padding: 8px;
    font-weight: 600;
    font-size: 14px;
    border-radius: 6px;
    background-color: rgba($colorWhite, 0.15);
    color: $colorWhite;
    margin-top: 6px;
    transition: background-color 0.2s $ease;

    &:hover {
      background-color: rgba($colorWhite, 0.2);
    }
  }
}
