.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $colorBlack;
  border-radius: 30px;

  &__header {
    position: absolute;
    display: flex;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    flex: 0 0 auto;
    height: 38px;
    background-color: rgba($colorBlack, 0.5);
    backdrop-filter: blur(20px);
    border-bottom: 1px solid $colorBlack;
  }

  &__left,
  &__center,
  &__right {
    display: flex;
    align-items: center;
    padding: 6px;
    flex: 0 0 auto;
  }

  &__left,
  &__right {
    width: 25%;
  }

  &__left {
    padding-left: 78px;
  }

  &__center {
    width: 50%;
    justify-content: center;
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
  }

  &__right {
    justify-content: flex-end;
  }

  &__subtitle {
    margin-left: 4px;
  }

  &__content {
    position: relative;
    flex: 1 1 auto;
    overflow-x: hidden;
    overflow-y: auto;
    overscroll-behavior: contain;
    padding: 38px 32px 32px 32px;

    &::-webkit-scrollbar-button:vertical:start {
      display: block;
      height: 18px;
    }
  }

  &__settings {
    position: absolute;
    top: 6px;
    right: 14px;
    fill: $colorWhite;
    cursor: pointer;
    opacity: 0.4;
    transition: fill 0.2s $ease;
    will-change: fill;

    &:hover {
      opacity: 1;
    }
  }

  &__title {
    display: flex;
  }

  &__sub-title {
    &::before {
      content: '\2009/\2009';
      opacity: 0.5;
    }
  }

}
