.test-route {
  display: flex;
  flex-direction: column;
  padding: 36px;
  height: 100%;
  border-radius: 6px;
  text-align: center;

  &__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1 1 auto;
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex: 0 0 auto;
  }

  &__title {
    font-size: 34px;
    font-weight: 700;
  }

  &__description {
    font-size: 14px;
    font-weight: 600;
    opacity: 0.5;
    max-width: 350px;
    margin: 6px auto 0 auto;
  }

  &__keys {
    margin-top: 20px;
  }

  &__placeholder {
    display: inline-flex;
    width: 60px;
    height: 60px;
    border-radius: 9px;
    border: 3px dashed rgba($colorBlack, 0.1);
  }

  &__progress {
    font-size: 14px;
    font-weight: 600;
  }

  &__cancel {
    font-size: 14px;
    font-weight: 600;
    padding: 4px 8px;
    background-color: rgba($colorBlack, 0.06);
    border-radius: 6px;
    transition: background-color 0.2s $ease;

    &:hover {
      background-color: rgba($colorBlack, 0.08);
    }
  }
}
