.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 9px;
  height: 3rem;
  min-width: 3rem;
  padding: 0 1rem;
  margin-right: 0.5rem;
  font-weight: 700;
  text-transform: uppercase;
  
  &.is-active {
    color: rgb(98, 192, 35);
    box-shadow: 0 0 0 3px rgb(98, 192, 35);
  }

  &:last-child {
    margin-right: 0;
  }
}