.key {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $colorBlack;
  background-color: $colorWhite;
  border-radius: 9px;
  height: 60px;
  min-width: 60px;
  padding: 0 1rem;
  margin-right: 0.5rem;
  font-size: 26px;
  font-weight: 700;
  text-transform: uppercase;
  transition: color 0.1s $ease, transform 0.1s $ease;

  &.is-active {
    color: $colorGreen;
  }

  &.is-false {
    color: $colorRed;
  }

  &.is-pressed {
    transform: scale(0.9);
  }

  &:last-child {
    margin-right: 0;
  }
}
