.group {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba($colorWhite, 0.06);
  padding: 16px 20px;
  margin-bottom: 2px;
  transition: background-color 0.2s $ease;
  will-change: background-color;

  &:first-child {
    border-top-left-radius: 9px;
    border-top-right-radius: 9px;
  }

  &:last-child {
    border-bottom-left-radius: 9px;
    border-bottom-right-radius: 9px;
  }

  &:hover {
    background-color: rgba($colorWhite, 0.1);
  }

  &__title {
    font-size: 18px;
    font-weight: 700;
  }

  &__meta {
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    font-weight: 700;
    opacity: 0.5;
  }

  &__progress {
    margin-left: 8px;
  }
}
